<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PerformanceApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <PerformanceApp.Properties.Settings>
            <setting name="IPAUserVer" serializeAs="String">
                <value />
            </setting>
            <setting name="IPASUserVer" serializeAs="String">
                <value />
            </setting>
            <setting name="DVRUserVer" serializeAs="String">
                <value />
            </setting>
            <setting name="XBCAUserVer" serializeAs="String">
                <value />
            </setting>
            <setting name="UtilUserVer" serializeAs="String">
                <value />
            </setting>
            <setting name="GECAUserVer" serializeAs="String">
                <value />
            </setting>
            <setting name="LCUUserVer" serializeAs="String">
                <value />
            </setting>
            <setting name="MPUserVer" serializeAs="String">
                <value />
            </setting>
            <setting name="StationType" serializeAs="String">
                <value>0</value>
            </setting>
        </PerformanceApp.Properties.Settings>
    </userSettings>
</configuration>